extends layouts/layout.pug

block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a.popup__button.button.button--popup-close(href='/', aria-label='Закрыть окно') Закрыть окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--register
            button.popup__tab-switcher.button(type='button') Регистрация
          li.popup__tab.popup__tab--register
            a.popup__tab-switcher.button(href='/login') Войти
        .popup__form.popup__form--active.form.form--register
          form(action='/register', method='post', enctype='multipart/form-data', novalidate)
            .form__field
              label
                input(type='email', name='email', placeholder='Электронная почта', required, value= data.email ? data.email : ``)
            .form__field
              label
                input(type='text', name='name', placeholder='Имя', required, value= data.name ? data.name : ``)
            .form__field
              label
                input(type='text', name='surname', placeholder='Фамилия', value= data.surname ? data.surname : ``)
            .form__field
              label
                input(type='password', name='password', placeholder='Пароль', required, value=``)
            .form__field
              label
                input(type='password', name='passwordAgain', placeholder='Повтор пароля', required, value=``)
            if errors
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                ul
                  each error in errors
                    li.form__error= error
            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg', alt='аватар пользователя')
              label
                input.visually-hidden(type='file', name='avatar')
                | Загрузить фото профиля
            input(type='hidden' name='_csrf' value= csrf)
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
      .modal__overlay
block scripts
  script(src='/js/main.js')
